<server description="Liberty server">
    <featureManager>
        <feature>greeting</feature>
    </featureManager>
    <variable name="app.context.root" defaultValue="demo"/>
    <webApplication location="demo-1.0-SNAPSHOT.war" contextRoot="/" />
    <httpEndpoint host="*" httpPort="${default.http.port}" 
      httpsPort="${default.https.port}" id="defaultHttpEndpoint" />
</server>